/* signup/login styles */
.link:hover {
  cursor: pointer;
}

/* navbar styles */
.navbar-brand:hover {
  cursor: pointer;
}

.nav-link:hover {
  cursor: pointer;
}

/* homepage styles */
.homepage {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-top: 30px;
  text-align: center;
}

/* responsive styles */
@media only screen and (max-width: 1200px) {
  .homepage {
    top: 70%;
  }
}